.carousel{
    display: flex;
    justify-content: flex-start;
    height: 49vh;
    width: 100%;
    border: 1px solid black;
  }
  
  .carousel .carousel-image-container{
    width: 80%;
    height: 100%;
  }

  .carousel-image-container img{
      width: 100%;
  }
  
  .carousel .carousel-content{
    width: 20%;
    height: 100%;
    background-color: black;
    color: white;
    border-left: 1px solid black;
  }