*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: white;
  text-decoration: none;
}

.explo-logo{
  height: 10vh;
  max-height: 50px;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
}

main a{
  color: black;
}

.content{
    margin: 0 6em;
    padding: 2% 1rem 2em 1em;
}

main p{
  margin: 1em 0;
}